/* Хэрэглэж буй фонтоо оруулах */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;700&display=swap');

/* CSS ийн хувьсагч ууд  */
:root {
  font-family: 'JetBrains Mono', monospace;
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 30px;
  --spacing-xsmall: 25px;
  --spacing-small: 50px;
  --spacing-medium: 100px;
  --spacing-large: 150px;
  --container: 90%;
}

.container {
  width: var(--container);
  margin: auto;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  width: 100%;
}

/* body {
  width: 90%;
  margin: auto;
} */

nav {
  background-color:#729ff9;
  color: white;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  opacity: 0.5;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: var(--container);
  margin: auto;
  padding: 10px;
}

nav .nav-bar-left {
  display: flex;
  align-items: center;
  gap: var(--padding-medium);
}

.searchbar button {
  border: none;
  font-size: large;
  background: none;
  color: rgb(195, 195, 195);
}

.searchbar input {
  border: none;
  border-radius: 5px;
  font-size: medium;
  color: white;
  background: none;
}



nav .nav-bar-right {
  display:flex;
  gap: var(--padding-medium);
}

/* Чухал мэдээ (TOM) ний styling */

.header-content {
  /* margin-top: var(--spacing-small); */
  background-image: url(https://assetsio.reedpopcdn.com/dnd-honor-among-thieves-movie-poster.jpeg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp);
}

.header.container {
  color: white;
  display: flex;
  justify-content: center;
  gap: var(--spacing-medium);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px ;
}

.header.container img{
  width: 30%;
}

.header.container .info {
  margin-top: var(--spacing-medium);
  width: 50%;
}


.header.container .info p {
  margin-top: var(--spacing-xsmall);
}

/* ОДОО ДЭЛГЭЦНЭЭ хэсэгийн styling */

.on-screen h1 {
  margin-top: var(--spacing-xsmall);
  margin-left: -50px;
  margin-bottom: var(--spacing-xsmall)
}

/* энд template-row ийг media query наас хамаарч өөрчлөгддөг болгох */
.movies {
  display: grid;
  grid-template-rows: 400px;
  gap: var(--spacing-small);
  grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr) minmax(250px, 1fr) minmax(250px, 1fr)
}

.movies figure{
  background-color: orange;
}

.movie {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Гол мэдээний хэсэг */

.news-section {
  display: grid;
  grid-template-rows: 35vh 35vh 35vh ;
  grid-template-columns: minmax(300px, 400px) minmax(300px, 400px) minmax(300px, 400px);
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 30px;
  justify-content: center;
  grid-template-areas: 
  "important-news-1 important-news-2 box-office"
  "news-1 news-1 box-office"
  "news-2 news-2 critics"
  ;
}

article h1 {
  margin-left: -50px;
  margin-top: var(--spacing-xsmall);
  margin-bottom: var(--spacing-xsmall);
}

.imp-news {
  background-color: orange;
}

.box-off {
  background-color: skyblue;
}

.critics {
  background-color: rgb(72, 72, 247);
}

.news {
  background-color: rebeccapurple;
}

.item-1 {
  grid-area: important-news-1;
}
.item-2 {
  grid-area: important-news-2;
}

.item-3 {
  grid-area: box-office;
}

.item-4 {
  grid-area: critics;
}

.item-5 {
  grid-area: news-1;
}
.item-6 {
  grid-area: news-2;
}
