* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(120, 171, 217, 0.65);
}

.nav-header {
  display: flex;
  gap: 15px;
  align-items: center ;
}

.nav-header h1::after {
  content: " | ";
}

.nav-header button {
  background: none;
  border: none;
  color: gray;
}

.nav-header input[type="search"]{
  background: none;
  border: none;
}

.nav-anchors {
  display: flex;
  gap: 20px;
}

.nav-header .icon {
  width: 30px;
}


/* -- HEADER CONTENT -- */ 

.header-content {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-content img {
  width: 100vw; 
  height: 80vh;
  object-fit: cover;
  /* object-position: 30% 25%; */
}
.header-content-content img {
  width: 450px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.header-content-content {
  display: flex;
  width: 80%;
  gap: 30px;
  color: white;
  position: absolute;
  top: 30%;
  left: 10%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  height: 70vh;
}

.slideshow-container img {
  width: 100%;
  height: 550px;
}

.mySlides {
  width: ;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */

.slideshow-container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.slideshow-container-content img {
  width: 40%;
  height: 300px;
  border-radius: 15px;
}
.slideshow-container-content .text {
  width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slideshow-container-content {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.mySlides > img{
 opacity: 0.8;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.new-movies {
  position: relative;
  top: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-posters {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  max-width: 100vw;
}

.movie-posters-poster img {
  border-radius: 15px;
  min-width: 300px;
  max-width: 300px;
  height: 480px;
}
